@charset "UTF-8";

header {
    background-color: #B22234;
    color: white;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    padding: 15px;
    list-style-type: none;
    overflow: auto;
    background-color: #3C3B6E;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    float: left;
    padding: 15px 0px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.menu li a:hover {
    background-color: #B22234;
}

.menu-item {
    margin-right: 10px;
}