@charset "UTF-8";

* {
    margin: 0%
}

header {
    background-color: #B22234;
    color: white;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header h1 {
    margin-left: 5%;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-top: 7px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lista {
    float: left;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listaItem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #3C3B6E;
}

.listaItem a {
    text-decoration: none;
    color: #B22234;
}

.listaItem a:hover {
    color: #3C3B6E;
}

.meio {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.direita {
    background-color: #3C3B6E;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width:720px) {

    /*Tablet*/
    .meio {
        width: 80%;
        padding: 0;
    }

    .direita {
        width: 100%;
    }

}

@media only screen and (max-width:480px) {

    /*Celular*/
    .lista, .meio, .direita {
        width: 100%;
    }
}