@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100vw;
}

header, nav, main, aside, footer {
	background: #a1a1a1;
	display: flex;
}

header {
	flex: 1 1 100vw;
	height: 100px;
    background-color: #B22234;
    color: white;
    justify-content: center;
    align-items: center;
}

header #logo {
	display: flex;
	flex: 0 1 200px;
	background: #c9c9c9;
	justify-content: center;
	align-items: center;
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
}

nav {
	justify-content: center;
	align-items: center;
	flex: 1 1 100%;
	height: 80px;
    background-color: #3C3B6E;
}

nav a {
	margin: 0 2%;
    font-size: 0.7em;
    white-space: nowrap;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    margin: 0 25px;
}

main {
	margin: 3px;
	flex: 20 1 500px;
	height: calc(100vw - 224px);
}

aside {
	margin: 3px;
	flex: 1 1 200px;
}

footer {
	margin: 7px 3px 3px;
	flex: 1 1 100vw;
	height: 100px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	aside {
		flex: 1 1 100vw;
		height: 100px;
	}

	nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
	}
}