@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    padding: 20px 0;
    background-color: #B22234;
    color: white;
    align-items: center;
}

.logo-imagem {
    margin: auto;
    display: block;
    width: 84px;
    height: auto;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

.nav {
	display: grid;
    grid-template-columns: 1fr 7fr;
	padding: 25px;
    background-color: #3C3B6E;
}

.nav-menu {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.nav-link {
    font-size: 0.9em;
    color: white;
    font-weight: 400;
    margin-right: 5px;
}

.nav-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.conteudo-index {
    margin: auto;
    display: block;
    max-width: 700px;
}

.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15%;
}

.action-title h2{
    font-size: 30px;
}

.button{
    background-color: #3C3B6E;
	color: white;
    display: inline-block;
    padding: 15px 70px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
	margin-top: 30px;
}

.ebook img{
    width: 70%;
    height: auto;
    margin-right: 50px;
}

.section-2{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15%;
}

.section-2 h2{
    text-transform: uppercase;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #333333;
	color: white;
    width: 220px;
    height: 180px;
    border-radius: 10px;
}

.card img{
    width: 65px;
    height: 65px;
	margin: auto;
    display: block;
}

.card p {
    text-align: center;
}

.section-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.button-2{
    display: inline-block;
    background-color: #3C3B6E;
	color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 12px
}

.section-3 h2 {
    font-size: 48px;
    color: #B22234;
}

.conteudo { 
    margin: auto;
    display: block;
    max-width: 600px;
}

.conteudo-paragrafo {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
    text-indent: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.exemplo {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
}

.referencia {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.referencia-link {
    display: inline-block;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.conteudo-titulo {
    font-size: 18pt;
    font-weight: bold;
    margin: 6% 0 20px;
}

.conteudo-subtitulo {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B22234;
    padding: 50px;
    margin-top: 100px;
}

.rodape-paragrafo {
    font-size: 14px;
    margin-top: 30px;
	color: white;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
	}
}

@media only screen and (max-width: 670px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 20px;
    }
}