@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 830px;
    margin: auto;
}

header {
	display: flex;
	flex: 1 1 100vw;
	height: 100px;
    background-color: #B22234;
    color: white;
    align-items: center;
}

header #logo {
	display: flex;
	flex: 0 1 200px;
	margin-right: 2%;
	justify-content: center;
	align-items: center;
}

header #logo img {
    width:100px;
    height: auto;
    position: relative ;
    top: 5px;
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 100%;
	height: 80px;
    background-color: #3C3B6E;
}

nav a {
	margin: 0 2%;
    font-size: 0.8em;
    white-space: nowrap;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    margin: 0 25px;
}

.section-1{
    display: flex;
    margin-top: 100px;
}

.action-title h2{
    font-size: 30px;
}

.button{
    background-color: #3C3B6E;
	color: white;
    display: inline-block;
    padding: 15px 70px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
	margin-top: 30px;
}

.ebook img{
    width: 230px;
    height: auto;
    margin-right: 50px;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 180px;
}

.section-2 h2{
    text-transform: uppercase;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
	color: white;
    width: 220px;
    height: 180px;
    border-radius: 10px;
}

.card img{
    width: 65px;
    height: 65px;
	margin-bottom: 15px;
}

.section-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.button-2{
    display: inline-block;
    background-color: #3C3B6E;
	color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    margin-bottom: 8px;
}

.section-3 h2 {
    font-size: 48px;
    color: #B22234;
}

.section-3 p {
    margin-top: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B22234;
    height: 100px;
    padding-bottom: 40px;
}

.button-footer{
    display: inline-block;
    padding: 15px 70px;
    background-color: #3C3B6E;
	color: white;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-top: -40px;
}

footer p{
    font-size: 14px;
    margin-top: 30px;
	color: white;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
	}
}