@charset "UTF-8";

* {
    margin: 0%
}

div p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

div h1 {
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

div h2 {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

p {
    margin-top: 10px;
}

body {
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');